name: AWS EB Deploy

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  publish-to-eb:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0
      - uses: bloq/actions/setup-node-env@7a00bde576f8383a7afabf48dc6153bd7a7daab7 # v1.6.0
      - run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          pip3 install --upgrade awsebcli==3.21.0
      - uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}
      - run: ./scripts/1-site
        env:
          NEXT_PUBLIC_ANALYTICS_ID: ${{ vars.NEXT_PUBLIC_ANALYTICS_ID }}
          NEXT_PUBLIC_NODE_URL: ${{ vars.NEXT_PUBLIC_NODE_URL }}
          NEXT_PUBLIC_SENTRY_DSN: ${{ vars.NEXT_PUBLIC_SENTRY_DSN }}
          NODE_URL: ${{ secrets.NODE_URL }}
          STAGE: ${{ vars.STAGE }}
        timeout-minutes: 30
