name: JS Checks

on:
  pull_request:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  run-checks:
    uses: bloq/actions/.github/workflows/js-checks.yml@7a00bde576f8383a7afabf48dc6153bd7a7daab7 # v1.6.0
